#This Notebook is for practicing Pandas. Titanic dataset from Kaggle is utilized for practice.
Outlines


*   Data Frame
*   Retrieving DataFrame Information
*   Selecting, Boolean Indexing & Setting
*   Dropping

In [1]:
#Importing drive, if you're not using colab you may skip this step
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#import Numpy and Pandas
import numpy as np
import pandas as pd

#Loading our dataset

In [41]:
#import dataset
data = pd.read_csv("/content/drive/MyDrive/Titanic dataset/train-3.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#The data at a glance

In [6]:
#Inspecting the data
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
#Checking the data size
data.size

10692

In [7]:
#Identify rows in the data
data.shape #i.e it has 891 rows and 12 columns

(891, 12)

In [8]:
#checking data types of each column
data.info()
#from results null values are present in
#Age, Cabin, embarked
#there are 2 columns with data type float
#5 columns with data type integer
#5 columns with data type object(i.e they are string)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
#Statistics summary for all integer and float variables
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
#Checking only the data types of variables (This is another way of checking the data types)
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#Counting how many variables in the dataset has same data types

In [15]:
data.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

#Indexing, Selection and Slicing

In [16]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
#Checking the index of data frame
data.index

RangeIndex(start=0, stop=891, step=1)

#Q1. Changing the index to PassengerID column

In [23]:
# Let's say we want to set the index to the column PassengeID
data.set_index('PassengerId')

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#Q2. How to select specific column of datarame

In [25]:
#Here for example lets select 'Sex' column
data['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

#Q3. Selecting multiple columns from dataframe

In [27]:
#For example, select column PassengerId and Age
data[['PassengerId', 'Age']]

     PassengerId   Age
0              1  22.0
1              2  38.0
2              3  26.0
3              4  35.0
4              5  35.0
..           ...   ...
886          887  27.0
887          888  19.0
888          889   NaN
889          890  26.0
890          891  32.0

[891 rows x 2 columns]

#Try to undersatnd df.iloc and df.loc method

In [ ]:
#df.loc is used to access any row based on their index
#df.iloc allows to access rows based on

#a subset of both rows and columns is made in one go and just using
#selection brackets [] is not sufficient anymore.
#The loc/iloc operators are required in front of the selection brackets [].
#When using loc/iloc, the part before the comma is the rows you want,
#and the part after the comma is the columns you want to select.

#Q4. How to select some rows based on their index using 'loc'

In [30]:
data.loc[0:5]# For example I am interested in working with first 6 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

#Q5. How to access some specific records i.e select only few Rows and columns using iloc?

In [35]:
data.iloc[9:13, 3:5] #We wanted to access only the rows from 9 to 12
#and  wanted to access only the Name & Sex column

                                   Name     Sex
9   Nasser, Mrs. Nicholas (Adele Achem)  female
10      Sandstrom, Miss. Marguerite Rut  female
11             Bonnell, Miss. Elizabeth  female
12       Saundercock, Mr. William Henry    male

#Q6. Assigning new value to certain record in dataframe

In [62]:
#Lets consider we want to rename the person in 9th row with name 'hui nam'
data.loc[9, 3:4] = 'hui nam' #here first row number(index) is mentioned and after comma Column 'Name' index is mentioned which is 3.
data[9:10]#here we visualise only the 9th row

<ipython-input-62-e73ad702cbc5>:2: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  data.loc[9, 3:4] = 'hui nam'

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,hui nam,female,14.0,1,0,237736,30.0708,NaN,C

#Q7.How to select certain rows and columns using iloc?

In [43]:
data.iloc[9:13, 3:5] #Here rows from 9 to 13(13 excluded) and columns 3 to 5(where 5 is excluded) are selected

                               Name     Sex
9                           hui nam  female
10  Sandstrom, Miss. Marguerite Rut  female
11         Bonnell, Miss. Elizabeth  female
12   Saundercock, Mr. William Henry    male

# Q8. How to select columns based on their names?

In [45]:
#Selecting Name column
data['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

#Q9. How to select some specific columns but without loosing any row of original dataset using iloc?

In [46]:
data.iloc[:, 2:7] #Let's say we are interested only in columns 2 to 7(7 th exclude)

,Pclass,Name,Sex,Age,SibSp
0,3,"Braund, Mr. Owen Harris",male,22.0,1
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1
4,3,"Allen, Mr. William Henry",male,35.0,0
...,...,...,...,...,...
886,2,"Montvila, Rev. Juozas",male,27.0,0
887,1,"Graham, Miss. Margaret Edith",female,19.0,0
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1
889,1,"Behr, Mr. Karl Howell",male,26.0,0
890,3,"Dooley, Mr. Patrick",male,32.0,0

#Q10. How to access two columns together with their names?

In [47]:
data[['Name', 'Age']] #Accessing the columns with their names

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

#Q11. How to retrieve records of first 20 rows, corresponding to only two specific columns ?

In [51]:
#Want to access only the first 20 rows and with 2 columns which we accessed by names
data.loc[0:20, ['Name', 'Sex']]
#data.iloc - iloc works with only sequential positioning of the rows and columns

                                                 Name     Sex
0                             Braund, Mr. Owen Harris    male
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                              Heikkinen, Miss. Laina  female
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                            Allen, Mr. William Henry    male
5                                    Moran, Mr. James    male
6                             McCarthy, Mr. Timothy J    male
7                      Palsson, Master. Gosta Leonard    male
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9                                             hui nam  female
10                    Sandstrom, Miss. Marguerite Rut  female
11                           Bonnell, Miss. Elizabeth  female
12                     Saundercock, Mr. William Henry    male
13                        Andersson, Mr. Anders Johan    male
14               Vestrom, Miss. Hulda Amanda Adolfina  female
15                   Hewlett, Mrs. (Mary D Kingcome)   female
16                               Rice, Master. Eugene    male
17                       Williams, Mr. Charles Eugene    male
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19                            Masselmani, Mrs. Fatima  female
20                               Fynney, Mr. Joseph J    male

#Q12. How to use Conditional statements for filtering records?

In [52]:
#Lets say we're in records which have age greater than 40
data.loc[data['Age'] > 40]
#i.e in this datatset we've 150 people whose age is above 40

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [54]:
data.loc[data['Age'] > 70] #Here original dataset is filtered based on the condition

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S

In [58]:
data.loc[data['Age'] > 40, ['Name', 'Sex']] #Here we select only specific columns of the dataset based on a condition

                                                  Name     Sex
6                              McCarthy, Mr. Timothy J    male
11                            Bonnell, Miss. Elizabeth  female
15                    Hewlett, Mrs. (Mary D Kingcome)   female
33                               Wheadon, Mr. Edward H    male
35                      Holverson, Mr. Alexander Oskar    male
..                                                 ...     ...
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female
865                           Bystrom, Mrs. (Karolina)  female
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female
873                        Vander Cruyssen, Mr. Victor    male
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female

[150 rows x 2 columns]

#Q13. How to drop Columns or Rows ?

In [60]:
data.drop(columns = ['SibSp']) #For example, we want to drop the column 'SibSP'

,PassengerId,Survived,Pclass,Name,Sex,Age,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,370376,7.7500,NaN,Q

#Q14. How to select multiple columns based on their names?

In [61]:
data[['Name', 'Age', 'Cabin']]

                                                  Name   Age Cabin
0                              Braund, Mr. Owen Harris  22.0   NaN
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0   C85
2                               Heikkinen, Miss. Laina  26.0   NaN
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  C123
4                             Allen, Mr. William Henry  35.0   NaN
..                                                 ...   ...   ...
886                              Montvila, Rev. Juozas  27.0   NaN
887                       Graham, Miss. Margaret Edith  19.0   B42
888           Johnston, Miss. Catherine Helen "Carrie"   NaN   NaN
889                              Behr, Mr. Karl Howell  26.0  C148
890                                Dooley, Mr. Patrick  32.0   NaN

[891 rows x 3 columns]